body {
    background: linear-gradient(90deg, rgba(255,25,147,0.55) 0%, rgba(2,199,251,0.73) 100%),url("../images/background.png");
    margin: 0;
    padding: 0;
}

#banner:hover { cursor:pointer;}
.export:hover { cursor:pointer;}

.images-container {
    float: right;
}

.images-container a {
    margin-left: 5px;
}

.rewards {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
}

.rewards td, .rewards th {
border: 1px solid #ddd;
padding: 8px;
}

.rewards tr{background-color: rgba(255, 255, 255, 0.8);}

.rewards tr:hover {background-color: #ddd;}

.rewards th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #8f96c1;
color: white;
}

#balao {
    position: fixed;
    bottom: 10px; /* Define a distância do fundo da página */
    right: 10px;  /* Define a distância do lado direito da página */
    width: 500px; /* Defina uma largura adequada para o balão */
    height: auto; /* Permita que a altura seja ajustada automaticamente conforme o conteúdo */
    background-color: green;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
    text-align: center;
    z-index: 999;
}

#balao p {
margin: 0;
font-size: 20px;
}

#balao a {
color: #fff;
text-decoration: underline;
font-size: 20px;
}

.fechar {
position: absolute;
top: 5px;
right: 10px;
cursor: pointer;
}

.lootbox-3 {
    background-color:rgba(250, 149, 122,0.5) !important;
}

.lootbox-5 {
    background-color:rgba(157, 70, 60,0.5) !important;
}

.lootbox-12 {
    background-color:rgba(94, 179, 224, 0.5) !important;
}

.lootbox-30 {
    background-color:rgba(47, 125, 125, 0.5) !important;
}

.lootbox-70 {
    background-color:rgba(245, 209, 32, 0.5) !important;
}

.lootbox-120 {
    background-color:rgba(236, 159, 61, 0.5) !important;
}